.infobox{
    border: 1px solid black;
    width: 250px;
    height: 300px;
    margin-top: 20px;
    border-radius: 5px;
}

.infobox img{
    width: 250px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.suc-stories{
    display: flex;
    gap: 20px;
}

.suc-stories img{
    width: 200px;
    border-radius: 5px;
}

.gsbtn{
    padding: 30px;
    border: 1px solid orange;
}

.customlife:hover{
    transition: 0.5s;
    color: orangered;
    background-color: rgb(60, 60, 60);
}

.services{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    row-gap: 20px;
    gap: 20px;
}