.title{
    font-family: "Roboto Condensed", sans-serif;
}

.product-menu:hover{
    background-color: rgb(229, 229, 229);
}

.product-menu-selected:hover{
    background-color: #ffe6ce;
}

.product-img{
    height: 250px;
    width: 250px;
    border-radius: 5px;
    cursor: pointer;
}

.product-img:hover{
    transition: 0.6s;
    transform: scale(1.05);
    opacity: calc(0.9);
}

.product-img-mob{
    height: 308px;
    width: 308px;
    border-radius: 5px;
    cursor: pointer;
}

.zoom-image{
    width: 100%;
    max-width: 500px; 
    max-height: 350;   
}

.zoom-image img{
    width: 100%;
    max-width: 500px; 
    max-height: 350;   
    object-fit: cover;
}

.sub-image{
    width: 130px;
    max-height: 100px;
    box-shadow: 1px 2px 3px -2px black;
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover;
}

.hoverable-btn:hover{
    opacity: 0.97;
    box-shadow: 2px 3px 8px -2px black;    
}