.hoverable:hover{
  background-color: rgb(237,237,237);
  cursor: pointer;
}

.selected{
  color: "highlight.main";
}

.modal-info{
  background-color: #9BC9FF;
  border-radius: 2px;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}