body{
  font-family: "Kanit", sans-serif;
}

.hoverable:hover{
  color: #f88120f8;
  cursor: pointer;
}

.selected{
  color: "highlight.main";
}

.modal-info{
  background-color: #9BC9FF;
  border-radius: 2px;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}