.product-grid{
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  gap: 10px;
  row-gap: 20px;
}

.product-grid img{
  max-width: 300px;
  max-height: 200px;
  border-radius: 10px;
  border: 1px solid rgb(242, 242, 242);
}

.product-box:hover{
  transition: 0.6s;
  background-color: rgb(242, 242, 242);
}

.edit-icon:hover{
  color: #f68b24;
  cursor: pointer;
}

.selected{
  background-color: #f9a553;
}