.product-grid{
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  gap: 10px;
  row-gap: 20px;
}

.product-grid img{
  max-width: 300px;
  max-height: 200px;
  border-radius: 10px;
  border: 1px solid rgb(242, 242, 242);
}

.product-box:hover{
  transition: 0.6s;
  background-color: rgb(242, 242, 242);
}

.edit-icon:hover{
  color: #f68b24;
  cursor: pointer;
}

.selected{
  background-color: #f9a553;
}

.hoverable{
  cursor: pointer;
  transition: background-color 0.2s ease;
  transition: transform 0.2s ease;
}

.hoverable:hover{
  background-color: #e5e8f3;
  transform: scale(1.02)
}

.shady{
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.shady:hover{
  box-shadow: 2px 2px 16px rgb(109, 109, 109);
}

.error-hoverable{
  cursor: pointer;
  transition: background-color 0.2s ease;
  transition: transform 0.2s ease;
}

.error-hoverable:hover{
  background-color: #ffdcdc;
  transform: scale(1.02)
}

.success-hoverable{
  cursor: pointer;
  transition: background-color 0.2s ease;
  transition: transform 0.2s ease;
}

.success-hoverable:hover{
  background-color: #eeffeb;
  transform: scale(1.02)
}